# Site
repository: sproogen/resume-theme
favicon: images/favicon.ico

# Content configuration version
version: 2

# Personal info
name: Samuel Letellier-Duchesne
title: Researcher
email: samuelduchesne@me.com
website: www.github.com/samuelduchesne

# Dark Mode (true/false/never)
darkmode: false

# Social links
twitter_username: samuelduchesne
github_username:  samuelduchesne
# stackoverflow_username: "00000001"
# dribbble_username: jekyll
# facebook_username: jekyll
# flickr_username: jekyll
# instagram_username: samuelletellier
linkedin_username: samuel-letellier-duchesne-40670538
# xing_username: jekyll
# pinterest_username: jekyll
# youtube_username: globalmtb
# googleplus_username: +jekyll
orcid_username: 0000-0001-5790-878X

# Additional icon links
additional_links:
  - title: researchgate
    icon: fas fa-flask
    url: https://www.researchgate.net/profile/Samuel-Letellier-Duchesne
# - title: another link
#   icon: font awesome brand icon name (eg. fab fa-twitter) (https://fontawesome.com/icons?d=gallery&m=free)
#   url: Link url (eg. https://google.com)

# Google Analytics and Tag Manager
# Using more than one of these may cause issues with reporting
# gtm: "GTM-0000000"
# gtag: "UA-00000000-0"
google_analytics: "G-JPF0EN6DC1"

# About Section
# about_title: About Me
about_profile_image: images/profile_photo_bw.jpg
about_content: | # this will include new lines to allow paragraphs
  Hi, my name is Samuel Letellier-Duchesne and I am currently a researcher looking for an opportunity to make my mark
  in the industry. I have worked on urban building energy modeling both during my PHD and futher more as a Postdoc
  Fellow in the Sustainbale Design Lab at MIT. I have experience making software and web apps that enable various
  data-driven workflows in the field of Building Science.

  I am most skilled in: <mark>Python</mark> and <mark>C#</mark> and more recently I have been developing
  <mark>REST APIs</mark> and web micro servives for this internet age.
  
  My topics of expertise are:
  - District Energy Modelling
  - Building Energy Modelling (<mark>EnergyPlus</mark> & <mark>TRNSYS</mark> have no secrets for me)
  - Geographic information system through <mark>QGIS</mark>, <mark>PostGIS</mark> databases and python scripting
  <mark>GeoPandas</mark>
  - Linear and Mixed-Integer Linear Programming (Optimization).

content:
  - title: Projects & OpenSource Tools # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: top-middle
        title: UBEM.io
        link: ubem.io
        # link_text: Project Website
        additional_links:
          - title:  UBEM.io
            icon: fas fa-flask
            url: ubem.io
          # - title:  Github page for project (eg. sproogen/modern-resume-theme)
          #   icon: fab fa-github
          #   url: Link to project (eg. sproogen.github.io/modern-resume-theme)
        quote: >
          Democratization of urban building energy modeling.
        description: | # this will include new lines to allow paragraphs
          I started this project with Yu Qian Ang and Zach Berzolla to accelerate the creation of Urban Building
          Energy Models (UBEMs). This project tought me how to develop and maintain a microservice on <mark>AWS</mark>.
          
          The backbone of UBEM.io consists of 3 projects that I developed independently: [<mark>pyumi</mark>](#pyumi),
          [<mark>archetypal</mark>](#archetypal) and [<mark>umitemplatedb</mark>](#umitemplatedb).
  
          With UBEM.io, municipalities, consultants and researchers can upload a GIS footprint file with a *height*
          attribute, and download an UMI project file which can be opened in [UMI for Rhino](http://web.mit
          .edu/sustainabledesignlab/projects/umi/index.html). After an energy simulation is run, the file can be
          uploaded to the [Urban Model Visualizer](http://www.ubem.io/Results) to display a rich energy performance
          summary.

      - layout: top-middle
        title: pyumi
        link: github.com/samuelduchesne/pyumi
        # link_text: Project Website
        additional_links:
          - title: github.com/samuelduchesne/pyumi
            icon: fab fa-github
            url: github.com/samuelduchesne/pyumi
        quote: >
          python scripting language to create, open and edit UMI projects.
        description: | # this will include new lines to allow paragraphs
          This project was an opportunity to learn about Rhino 3DM files and the structure of Rhino 3D models. Using the
          recently open-sourced [rhino3dm](https://github.com/mcneel/rhino3dm) library, I was able to create UMI
          projects from scratch in a python environment without the use of the proprietary [RhinoCommon
          API](https://developer.rhino3d.com/api/RhinoCommon/html/R_Project_RhinoCommon.htm).
          
          The package enables scripted workflows to open UMI projects and process the various module results (energy,
          mobility, district energy, etc.). It also enables the creation of new UMI projects from GIS files: import
          footprints, extrude geometries in 3D sapce and assign building template names based on a combination of
          feature attributes.
          
          pyumi enables the [Urban Model Generator](http://www.ubem.io/getstarted) as well as the [Urban Model
          Visualizer](http://www.ubem.io/Results).
          
      - layout: top-middle
        title: archetypal
        link: github.com/samuelduchesne/archetypal
        # link_text: Project Website
        additional_links:
          - title: github.com/samuelduchesne/archetypal
            icon: fab fa-github
            url: github.com/samuelduchesne/archetypal
        quote: >
          Retrieve, construct, simulate, convert and analyze building energy models.
        description: | # this will include new lines to allow paragraphs
          I started this project around the begining of my PhD as a way of learning to code in Python, but also out
          of frustration with running Commercial Reference Building <mark>EnergyPlus</mark> models. Ep-Launch is
          clunky and it is a pain to upgrade old models to newer versions of EnergyPlus. Furthermore, I needed a way
          to efficiently read IDF models, run them and retreive their results all in a Jupyter Notebook, the crown
          jewel of reproducible data analysis workflows.
          
          I leveraged the excellent eppy package to do the heavy lifting of parsing IDF models, but I
          rewrote the whole logic to handle file upgrades and simulation results. From this robust IDF model scripting
          language, I developed the model complexity reduction algorithms to create simplified 2-zone UMI models out
          of complexe multi-zone IDF models. This in turn enabled the creation of building templates for the [umi
          template database](#umitemplatedb).
          
      - layout: top-middle
        title: umitemplatedb
        link: github.com/MITSustainableDesignLab/UmiTemplateDB
        # link_text: Project Website
        additional_links:
          - title: github.com/MITSustainableDesignLab/UmiTemplateDB
            icon: fab fa-github
            url: github.com/MITSustainableDesignLab/UmiTemplateDB
        quote: >
          The structure of the archetype template database.
        description: | # this will include new lines to allow paragraphs
          The umitemplatedb project was created out of a necessity to store and retreive UMI <mark>Template Library
          Files</mark>. The project defines the building template format, the backbone of UMI projects and handles
          the conversion of UMI Template Library Files to <mark>MongoDB</mark> documents and vice-versa.

  - title: Work Experience & Internships # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: left
        title: MIT Sustainable Design Lab
        link: http://web.mit.edu/sustainabledesignlab/
        link_text: sustainabledesignlab.com
        sub_title: Postdoctoral Fellow
        caption: January 2020 - Present
        quote: >
          Developing tools at the SDL Lab has definitely reinforced my passion for creating robust analysis solutions
          that others can use.
        description: | # this will include new lines to allow paragraphs
          As a Postdoctoral Fellow in the Sustainable Design Lab, I undertake reaserch at the intersection of urban building 
          energy modeling and district energy systems modeling to guide city planners, architects and engineers, 
          in designing and planning efficient buildings and urban systems.
          
      - layout: left
        title: C40 | Reinventing Cities Competition
        link: https://www.c40reinventingcities.org/en/professionals/winning-projects/de-la-commune-service-yard-1309.html
        link_text: De la Commune Service Yard
        sub_title: Consultant
        caption: February to June 2019
        quote: >
          Winning project: Demain Montréal. An ambitious Carbon Positive objective based on both a reduction of the embodied carbon of the building 
          and a strong strategy to capture carbon during the operational phase.
        description: | # this will include new lines to allow paragraphs
          I delivered a feasibility study for the implementation of an urban energy sharing network for the site of the De la Commune Service Yard. 
          The study used an advanced topology optimization algorithm I developed during my PhD to explore various connectivity scenarios 
          with an adjacent district energy plant. Also in the report, I outlined economic, legal, and technical opportunites and barriers for the project.
          
          This report in addition to my help writing the "Energy Efficiency & Green Energy Production" chapter of the project's proposal document 
          helped our team secure the bid for the competition.
          
      - layout: left
        title: Pageau Morel
        link: http://www.pageaumorel.com
        link_text: pageaumorel.com
        sub_title: Internship
        caption: Autumn 2016
        quote: >
          This interneship was funded by the competitive Mitacs Acceleration scholarship.
        description: | # this will include new lines to allow paragraphs
          At Pageau Model, an MEP firm based in Montréal, Québec, I evaluated the potential of incorporating within the company workstream the use of 
          novel building energy modelling tools such as Sefaira. I delivered a final report offering recommendations at the end of the intership.
          
      - layout: left
        title: Green.Building.Solutions
        link: https://summer-university.net/gbs-vienna/
        link_text: summer-university.net/gbs-vienna
        sub_title: Summer University
        caption: Summer 2015
        quote: >
          Received a 2000$ scholarship for the program.
        description: |
          First hand ecological knowledge and engineering expertise bundled in a three-week program in the capital of energy efficiency building: Vienna.
        
      - layout: left
        title: Thermal Energy Systems Specialists (TESS)
        link: http://www.tess-inc.com/home.html
        link_text: tess-inc.com
        sub_title: Internship
        caption: Summer 2014
        quote: >
          Internship at the office of the developers of TRNSYS
        description: |
          During the internship, I learned to use TRNSYS, the simulation tool that would become a central part of my master's thesis. My main task was to 
          write technical documentation for future releases of TRNSYS.

  - title: Education # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: left
        title: Ph.D. @ Polymtl
        caption: 2016 - 2020
        sub_title: PhD Mechanical Engineering
        quote: >
          Polytechnique Montréal is Canada's largest french-speaking engineering school.
        description: | # this will include new lines to allow paragraphs
          Pursuing a PhD in mechanical engineering derives from my interest in the built environement and how
          early design decisions can impact the sustainability of a project. For my thesis, I applied priciples of
          Integraded Design to the planning of heat-sharing networks.
          
          <<<<<< [Read my thesis](https://www.dropbox.com/s/mkzjq5ed5y2jk09/SLetellier-Duchesne_these.pdf?dl=0) >>>>>>
      
      - layout: left
        title: B.Eng. @ Polymtl
        caption: 2010 - 2014
        sub_title: Bachelor of Engineering | Civil Engineering
        quote: >
          From structural systems to environmental science, my bachelor in civil engineering taught my a lot about the
          built environment.
        description: | # this will include new lines to allow paragraphs
          A solid engineering foundation at Polytechnique Montreal has taught me how efficiently to solve complex problems.
        

  - title: Awards & Scholarships
    layout: text
    content: | # this will include new lines to allow paragraphs
      I have had the greatest pleasure of receiving these awards and scholarships during my academic career:
  
      | Name                                        | Organization                                                  | Value      | Year      | Status   |
      |:--------------------------------------------|:--------------------------------------------------------------|:-----------|:----------|:---------|
      | Postdoctoral Fellowship                     | Natural Sciences and Engineering Research Council of Canada   | $45,000/yr | 2020-2021 | accepted |
      | Hydro-Québec scholarship for excellence     | Hydro-Québec                                                  | $25,000    | 2018      | received |
      | FRQNT 3rd cycle scholarship                 | Fonds de recherche du Québec – Nature et technologies (FRQNT) | $20,000    | 2017-2018 | received |
      | J.A. DeSève Foundation Prestige Scholarship | J.A. DeSève Foundation                                        | $10,000    | 2017      | received |


# Footer
footer_show_references: true
# references_title: References on request (Override references text)

# Build settings
remote_theme: samuelduchesne/modern-resume-theme@develop

sass:
  sass_dir: _sass
  style: compressed

plugins:
 - jekyll-seo-tag
